name: Pipeline CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  packages: write

jobs:
  cicd:

    runs-on: ubuntu-latest

    steps:
      - name: Obter repositório
        uses: actions/checkout@v4

      - name: Configurar Docker
        uses: docker/setup-buildx-action@v3

      - name: Iniciar serviços
        run: docker compose up -d

      - name: Health Check
        run: curl --fail http://localhost:5002/health || exit 1

      - name: Criar ambiente para executar testes com o conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          environment-file: conda.yaml
          activate-environment: OML_Latest

      - name: Executar testes
        run: conda run --no-capture-output -n OML_Latest pytest tests/

      - name: Iniciar sessão no repositório do GitHub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Enviar imagem serviço para o repositório do GitHub
        run: docker push ghcr.io/b-matos/default-payment-prediction-service:latest